<img id="logo" src="./images/logo.png">
<h1 id="title" class="text-light clearfix">Web Scraper</h1>
<div class="row no-gutters justify-content-around mb-4">
    <div class="col-5 col-md-3 text-center">
        <button id="scrape" class="btn btn-lg btn-danger">Scrape Articles</button>
    </div>
    <div class="col-5 col-md-3 text-center">
        <a href="/articles"><button class="btn btn-lg btn-danger">Article API</button></a>
    </div>
</div>
<div class="container justify-content-around">
    {{#each articles}}
    <div class="card bg-dark">
        <img class="card-img-top" src="{{image}}">
        <div class="card-body">
            <h5 class="card-title text-light">{{title}}</h5>
            <p class="card-text text-light">{{summary}}</p>
            <a class="btn btn-danger" href="{{link}}">Read More</a>
            <button id={{_id}} data-toggle="modal" data-target="#myModal"
                class="notes btn btn-danger pb-1">Notes</button>
        </div>
    </div>
    {{/each}}
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h5 class="modal-title">Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 id='note-title'></h2>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Title</label>
                        <input type="text" class="form-control" id="titleinput">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Body</label>
                        <textarea class="form-control" id="bodyinput" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>